<!DOCTYPE HTML>
<html>
<head>
    <title>Loan application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

<style>
    body{
        font-family: 'Montserrat', sans-serif;
        color: darkslateblue;
        font-weight: 500;
    }

    .col{
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        border: 1px solid darkslateblue;
        padding: 10px 50px 50px;
        background-color: #dadfe8;
    }

    input[type="text"], input[type="number"]{
        height: 30px;
        width: 200px;
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid skyblue;
        padding: 2px 10px;
        color: black;
    }

    .wrapper{
        width: 700px;
        margin: auto;
        margin-top: 10%
    }

    h1{
        font-size: 25px;
        color: darkslateblue;
    }

    input {
        outline: none;
        border: 1px solid black;
    }

    input:focus{
        border: 1px solid blue;
    }

    .listElem{
        display: flex;
        flex-direction: column
    }

    label{
        margin-bottom: 5px;
        margin-left: 5px;
    }

    .listElemLast button{
        height: 30px;
        width: 200px;
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid white;
        color: white;
        background-color: darkslateblue;
    }
    .error{
        height: 40px;
        width: 650px;
        background-color: #a86d7b;
        color: white;
        border-radius: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<form action="/loan-application" method="POST">
    <div class="wrapper">
        <div class="col">
            <h1>Введите данные для подачи заявления</h1>

            {{#errors}}
                <div class="error">{{.}}</div>
            {{/errors}}

            <div class="listElem">
                <label>ФИО:</label>
                <input type="text" name="fullName" placeholder="Сергеева Анна Валерьевна" {{#client.fullName}}value="{{client.fullName}}"{{/client.fullName}} required>
            </div>
            <div class="listElem">
                <label>Серия и номер паспорта:</label>
                <input type="text" name="idData" placeholder="#### ######" {{#client.idData}}value="{{client.idData}}"{{/client.idData}} required>
            </div>
            <div>
                <label>Гендер:</label>
                <input type="radio" id="maleOption" name="gender" value="MALE" required {{^isWoman}}checked{{/isWoman}}>
                <label for="maleOption">Male</label>
                <input type="radio" id="femaleOption" name="gender" value="FEMALE" required {{#isWoman}}checked{{/isWoman}}>
                <label for="femaleOption">Female</label>
            </div>
            <div class="listElem">
                <label>Адрес прописки:</label>
                <input type="text" name="address" placeholder="ул. Генерала Штеменко 43" {{#client.address}}value="{{client.address}}"{{/client.address}} required>
            </div>
            <div class="listElem">
                <label>Телефон:</label>
                <input type="text" name="phoneNumber" placeholder="+79034685531" {{#client.phoneNumber}}value="{{client.phoneNumber}}"{{/client.phoneNumber}} required>
            </div>
            <div class="listElem">
                <label>Сведения о занятости:</label>
                <input type="text" name="workingExperience" placeholder="Стаж|должность|организация" {{#client.workingExperience}}value="{{client.workingExperience}}"{{/client.workingExperience}} required>
            </div>
            <div class="listElem">
                <label>Сумма кредита:</label>
                <input type="number" name="loanAmount" placeholder="100000" min="0" step="0.01" {{#client.loanAmount}}value="{{client.loanAmount}}"{{/client.loanAmount}} required>
            </div>
            <div class="listElemLast">
                <button type="submit">Подать заявление</button>
            </div>

        </div>
    </div>
</form>

</body>
</html>