<!DOCTYPE HTML>
<html>
<head>
    <title>Loan application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

<style>
    body{
        font-family: 'Montserrat', sans-serif;
        color: darkslateblue;
    }

    .col{
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        border: 1px solid darkslateblue;
        padding: 10px 50px 50px;
        background-color: #dadfe8;
    }

    input[type="text"], input[type="number"]{
        height: 30px;
        width: 200px;
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid skyblue;
        padding: 2px 10px;
        color: black;
    }

    .wrapper{
        width: 700px;
        margin: auto;
        margin-top: 10%
    }

    h1{
        font-size: 25px;
        color: darkslateblue;
    }

    input {
        outline: none;
        border: 1px solid black;
    }

    input:focus{
        border: 1px solid blue;
    }

    .listElem{
        display: flex;
        flex-direction: column
    }

    label{
        margin-bottom: 5px;
        margin-left: 5px;
    }
</style>

<div class="wrapper">
    <div class="col">
        <h1>Введите данные для подачи заявления</h1>

        <div class="listElem">
            <label>ФИО:</label>
            <input type="text" id="fullName" placeholder="Сергеевва Анна Валерьевна" required>
        </div>
        <div class="listElem">
            <label>Серия и номер паспорта:</label>
            <input type="text" id="idData" placeholder="ssssnnnnnn" required>
        </div>
        <div>
            <input type="radio" id="maleOption" name="gender" value="муж" required>
            <label for="maleOption">Male</label>
            <input type="radio" id="femaleOption" name="gender" value="жен">
            <label for="femaleOption">Female</label>
        </div>
        <div class="listElem">
            <label>Адрес:</label>
            <input type="text" id="address" placeholder="ул. Генерала Штеменко 43" required>
        </div>
        <div class="listElem">
            <label>Телефон:</label>
            <input type="text" id="phoneNumber" placeholder="+79034685531" required>
        </div>
        <div class="listElem">
            <label>Сумма кредита:</label>
            <input type="number" id="loanAmount" placeholder="100000" min="0" step="0.01" required>
        </div>

    </div>
</div>


</body>
</html>